.general{
    margin: 20px 0px 0px 0px;
    align-items: center;
    background-color:  #f0ece3;
    /* background-color:  red; */
    box-shadow: 0 2px 4px 0 rgb(142 154 161 / 20%);
    padding: 15px 140px;
}

.general2{
    margin: 20px 0px 0px 0px;
    align-items: center;
    /* background-color:  red; */
    box-shadow: 0 2px 4px 0 rgb(142 154 161 / 20%);
    padding: 15px 140px;
}

.time{
    margin: 10px;
    font-weight: bold;
}

.title{
    color: purple;
    /* color: blue; */
    font-weight: bold;
    margin: 0px 20px 10px 20px;
}